%style-bold {
    color: $headline-color;
    font-size: 1rem;
    font-weight: $font-bold-weight;
    margin-top: 1rem;
}
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}